<?xml version="1.0"?>
<launch>
  <arg name="actor_ns" default="my_actor" />

  <group ns="$(arg actor_ns)">
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find rrbot_description)/urdf/my_actor.urdf.xacro'" />
  
    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="TRUE"/>
    </node>
  
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rrbot_description)/launch/my_actor.rviz"/>
  </group>

</launch>
