<?xml version="1.0"?>
<launch>
  <arg name="actor_ns" default="my_actor" />

  <group ns="$(arg actor_ns)">
    <rosparam file="$(find rrbot_control)/config/actor_control.yaml" command="load"/>
  
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  	output="screen" args="joint_state_controller
  					  joint1_position_controller
  					  joint2_position_controller
  					  joint3_position_controller"/>
  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  	respawn="false" output="screen">
    </node>
  </group>
</launch>
